* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

.btn-group-vertical {
    margin: auto 0;
    padding: 10px;
    margin: 10px;
}

.btn-sm {
    margin: auto 0; 
    padding: 10px;
    background-color: indigo;
    text-align: left;
    margin: 10px;
    color: white;
}

#option1, #option2, #option3, #option4 {
    margin: auto 0; 
    background-color: indigo;
    text-align: left;
    margin: 10px;
    color: white;
}

#main-content {
    margin: auto;
    width: 50%;
}

#header {
    margin: 0 auto;
    width: 100%;
}

#highscores {
    text-align: left;
}

#score {
    text-align: right;
}

#button {
    text-align: center;
}

#highscores {
    background: none!important;
    border: none;
    padding: 0!important;
}

input {
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
}